body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    margin: 0;
}

.jogo {
    text-align: center;
    margin-top: 40px;
}

.controles {
    margin: 20px;
}

select,
button {
    padding: 8px;
    margin: 5px;
}

.informacoes {
    margin-top: 20px;
}

#tabuleiro {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 6px;

    justify-content: center;

    margin-top: 20px;
}

.casa {
    width: 60px;
    height: 60px;

    background-color: #555;
    color: white;

    border: 2px solid #777;
    border-radius: 6px;

    font-size: 24px;

    cursor: pointer;

    transition: 0.2s;
}

.casa:hover {
    background-color: #666;
}

.casa.aberta {
    cursor: default;
}

.casa.segura {
    background-color: #2e8b57;
    border-color: #3cb371;
}

.casa.mina {
    background-color: #b22222;
    border-color: #dc143c;
}